@charset "UTF-8";
:root {
  --hover-blue-color: #2196f3;
  --gray-color: #757575;
  --white-color: #ffffff;
  --hero-section-background: #2f303a;
  --black-color: #000;
  --link-color: #212121;
  --footer__contact-color: rgba(255, 255, 255, 0.6);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.is-hidden-menu {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: item;
}

html {
  padding-left: 0px;
}

li {
  list-style: none;
  padding-left: 0;
}

ul {
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
}

input {
  outline: none;
}

textarea {
  outline: none;
}

.padding-container {
  padding: 0 15px;
}
@media screen and (min-width: 1200px) {
  .padding-container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

body {
  font-family: "Roboto";
  letter-spacing: 0.0303030303em;
  margin: 0px;
}

.title {
  margin: 0;
  color: var(--link-color);
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.0303030303em;
  text-align: center;
}
@media screen and (min-width: 481px) {
  .title {
    font-size: 36px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.logo {
  display: block;
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: var(--black-color);
}
.logo--footer {
  color: var(--white-color);
}

.logo__left-part {
  color: var(--hover-blue-color);
}

.header-section {
  z-index: 20;
  min-height: 60px;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #fff;
}
@media screen and (max-width: 480px) {
  .header-section {
    position: fixed;
  }
}

.header-section__menu-burger {
  margin-left: auto;
  background-color: inherit;
  border: 0px;
  padding: 0;
}
@media screen and (min-width: 769px) {
  .header-section__menu-burger {
    display: none;
  }
}
.header-section__menu-burger--icon {
  height: 40px;
  width: 40px;
}
.header-section__menu-burger:hover, .header-section__menu-burger:focus {
  fill: #2196f3;
}

.header-section--line {
  border-bottom: 1px solid #ececec;
}

.header-section__inner {
  display: flex;
  align-items: center;
  min-height: 60px;
}
@media screen and (min-width: 768px) {
  .header-section__inner {
    justify-content: space-between;
  }
}

.navigation {
  display: none;
  color: var(--black-color);
  font-size: 14px;
  font-weight: 500;
}
@media screen and (min-width: 769px) {
  .navigation {
    display: block;
  }
}

.menu {
  display: flex;
}
@media screen and (min-width: 1200px) {
  .menu {
    margin-left: 93px;
  }
}

.menu__link {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--link-color);
  letter-spacing: 0.02em;
  display: inline-block;
  padding: 32px 25px;
}
.menu__link--selected {
  color: var(--hover-blue-color);
}
.menu__link:hover, .menu__link:focus {
  color: var(--hover-blue-color);
}
.menu__link::after {
  border-radius: 2px;
  content: "";
  width: 0;
  height: 4px;
  right: 25px;
  position: absolute;
  bottom: 0;
  background: var(--hover-blue-color);
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1), height 850ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:hover::after {
  width: calc(100% - 50px);
  left: 25px;
}
.menu__link:focus::after {
  width: calc(100% - 50px);
  left: 25px;
}
.menu__link--selected::after {
  border-radius: 2px;
  content: "";
  width: calc(100% - 50px);
  height: 4px;
  left: 25px;
  right: 25px;
  position: absolute;
  bottom: 0;
  background: var(--hover-blue-color);
}

.contact-container {
  display: none;
}
@media screen and (min-width: 769px) {
  .contact-container {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .contact-container {
    margin-left: auto;
    display: flex;
    flex-direction: row;
  }
}

.contact {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  color: var(--gray-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact--mail-top {
  margin-left: auto;
  align-items: center;
  display: flex;
}
@media screen and (min-width: 1200px) {
  .contact--mail-top {
    margin-right: 15px;
  }
}
.contact--phone-top {
  display: flex;
  white-space: nowrap;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact--phone-top {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact--phone-top {
    margin-left: 15px;
  }
}
.contact:hover {
  color: var(--hover-blue-color);
  /* color: #ff00d4; */
}
.contact:focus {
  color: var(--hover-blue-color);
}

.contact__icon {
  width: 1rem;
  height: 1rem;
  margin-right: 10px;
  fill: currentColor;
  margin-right: 10px;
}

.mobile-menu {
  z-index: 30;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
  padding: 48px 40px;
  background-color: rgb(255, 255, 255);
  height: 100%;
  font-weight: 500;
  width: 100%;
}
@media screen and (min-width: 769px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu__close-button {
  position: absolute;
  border: 0px;
  background-color: inherit;
  width: 40px;
  height: 40px;
  right: 15px;
  top: 10px;
  padding: 0;
}
.mobile-menu__close-button--img {
  height: 40px;
  width: 40px;
}
.mobile-menu__close-button:hover, .mobile-menu__close-button:focus {
  fill: #2196F3;
}

.mobile-menu__list {
  margin-bottom: auto;
  text-decoration: none;
}

.mobile-menu__item {
  margin-bottom: 32px;
}

.mobile-menu__link {
  color: #212121;
  font-size: 40px;
}
.mobile-menu__link--selected {
  color: #2196F3;
}

.mobile-menu__contacts {
  display: flex;
  flex-direction: column;
}

.mobile-menu__phone {
  font-size: 34px;
  margin-bottom: 32px;
  color: #2196F3;
}

.mobile-menu__mail {
  font-size: 24px;
  color: #757575;
  margin-bottom: 64px;
}

.mobile-menu__socials {
  display: flex;
  font-size: 18px;
  flex-wrap: wrap;
}

.mobile-menu__social-link {
  color: #2196F3;
}
.mobile-menu__social-link:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}
.mobile-menu__social-link:not(:first-child) {
  padding-left: 10px;
}

.hero-section {
  background-image: url("../images/main/header-mobile.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 480px) {
  .hero-section {
    margin-top: 60px;
  }
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: url("../images/main/header-mobile@2x.jpg");
  }
}
@media screen and (min-width: 481px) {
  .hero-section {
    background-image: url("../images/main/header-tablet.jpg");
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: url("../images/main/header-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero-section {
    background-image: url("../images/main/header-pc.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: url("../images/main/header-pc@x2.jpg");
  }
}

.hero-section__cover {
  background-color: rgba(47, 48, 58, 0.4);
}

.hero-section__inner {
  padding: 118px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 481px) {
  .hero-section__inner {
    padding: 118px 174px;
  }
}
@media screen and (min-width: 769px) {
  .hero-section__inner {
    padding: 200px 0;
  }
}

.hero-section__title {
  text-align: center;
  color: var(--white-color);
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06000024em;
  max-width: 696px;
}
@media screen and (min-width: 769px) {
  .hero-section__title {
    font-size: 44px;
  }
}

.hero-section__button {
  margin-top: 30px;
  padding: 10px 32px;
  border-width: 0px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  color: var(--white-color);
  background-color: var(--hover-blue-color);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  cursor: pointer;
  letter-spacing: 0.06000024em;
}

.whatwedo-section {
  padding: 94px 0;
  display: none;
}
@media screen and (min-width: 769px) {
  .whatwedo-section {
    display: block;
  }
}

.whatwedo-section__list {
  margin: 50px 0 0;
  display: flex;
  justify-content: space-between;
}

.our-team-section {
  background-color: #f5f4fa;
  padding: 60px 0 30px;
}
@media screen and (min-width: 759px) {
  .our-team-section {
    padding: 94px 0;
  }
}

.our-team-section__inner {
  text-align: center;
}

.our-team-section__list {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.our-team-section__item {
  margin-bottom: 30px;
}
.our-team-section__item--visual {
  padding-bottom: 30px;
  background-color: #fff;
  /* border: 2px #000 solid; */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}
@media screen and (min-width: 480px) {
  .our-team-section__item {
    width: calc(50% - 15px);
  }
}
@media screen and (min-width: 768px) {
  .our-team-section__item {
    width: calc(25% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .our-team-section__item {
    width: calc(25% - 22.5px);
  }
}

.our-team-section__img {
  width: 100%;
}

.benefits-section {
  padding-top: 60px;
  color: var(--gray-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.0303030303em;
}
@media screen and (min-width: 759px) {
  .benefits-section {
    padding-top: 94px 0;
  }
}

.benefits-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 100%;
}

.benefits-list__background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
}

.benefits-list__description {
  padding-top: 10px;
}

.benefits-list__item {
  max-width: 100%;
  margin-bottom: 30px;
}
@media screen and (min-width: 481px) {
  .benefits-list__item {
    width: calc(50% - 15px);
  }
}
@media screen and (min-width: 768px) {
  .benefits-list__item {
    width: calc(25% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .benefits-list__item {
    width: 270px;
  }
}

.benefits-list__title {
  margin-top: 30px;
  color: var(--link-color);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.0303030303em;
}

.benefits-list__icon {
  width: 70px;
  height: 70px;
}

.clients-section {
  padding: 60px 0;
}
@media screen and (min-width: 759px) {
  .clients-section {
    padding: 94px 0;
  }
}

.clients-section__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .clients-section__list {
    margin-top: 50px;
  }
}

.clients-section__item {
  border: #AFB1B8 solid 1px;
  border-radius: 4px;
  width: calc(50% - 15px);
}
@media screen and (max-width: 1199px) {
  .clients-section__item {
    margin-top: 30px;
  }
}
@media screen and (min-width: 480px) {
  .clients-section__item {
    width: calc(33% - 15px);
  }
}
@media screen and (min-width: 768px) {
  .clients-section__item {
    width: calc(16% - 15px);
  }
}
.clients-section__item:focus-within {
  border-color: #2196f3;
}
.clients-section__item:hover {
  border-color: #2196F3;
}

.clients-section__icon {
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
  margin: 16px 32px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-section__link {
  display: flex;
  justify-content: center;
}
.clients-section__link:hover > .clients-section__icon {
  fill: #2196F3;
}
.clients-section__link:focus > .clients-section__icon {
  fill: #2196F3;
}

.our-team-section__socials-list-icon {
  /* margin: 12px; */
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-section__name {
  margin-top: 30px;
  color: var(--link-color);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.0303030303em;
}

.our-team-section__profession {
  margin-top: 10px;
  color: var(--gray-color);
  font-size: 16px;
  letter-spacing: 0.0303030303em;
}

.our-team-section__socials-list {
  margin-top: 16px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.our-team-section__socials-list--style {
  height: 44px;
  width: 44px;
  /* padding: 12px; */
  /* border: 0px solid; */
  border-radius: 50px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team-section__socials-list--style:not(:last-child) {
  margin-right: 10px;
}
.our-team-section__socials-list--style:hover, .our-team-section__socials-list--style:focus, .our-team-section__socials-list--style:focus-within {
  background-color: #2196F3;
}

.our-team-section__socials-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  border-radius: inherit;
}
.our-team-section__socials-list-link:hover > .our-team-section__socials-list-icon {
  fill: #ffffff;
}
.our-team-section__socials-list-link:focus > .our-team-section__socials-list-icon {
  fill: #ffffff;
}

.footer-socials-icon {
  margin: 12px;
  width: 20px;
  height: 20px;
  fill: #fff;
}

.footer {
  padding: 60px 0;
  background-color: var(--hero-section-background);
}

.footer-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media screen and (min-width: 481px) {
  .footer-inner {
    align-items: flex-start;
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .footer-inner {
    justify-content: flex-start;
  }
}

.address {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
@media screen and (min-width: 769px) {
  .address {
    align-items: flex-start;
  }
}

.footer__contact {
  color: var(--footer__contact-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.0303030303em;
}
.footer__contact--map {
  color: var(--white-color);
}
.footer__contact--mail {
  margin-top: 8px;
}
@media screen and (max-width: 1200px) {
  .footer__contact--mail {
    margin-top: 8px;
  }
}
.footer__contact--phone {
  margin-top: 9px;
}
@media screen and (min-width: 1200px) {
  .footer__contact--phone {
    margin-top: 8px;
  }
}

.footer__leftpart {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 769px) {
  .footer__leftpart {
    align-items: flex-start;
  }
}

.footer__rightpart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
@media screen and (min-width: 481px) {
  .footer__rightpart {
    margin-top: 0px;
  }
}
@media screen and (min-width: 769px) {
  .footer__rightpart {
    align-items: flex-start;
    margin-top: 12px;
    margin-left: 70px;
  }
}

.footer__socials-header {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}
@media screen and (min-width: 769px) {
  .footer__socials-header {
    text-align: left;
  }
}

.footer__socials-list {
  display: flex;
  padding-top: 20px;
}

.footer__socials-item {
  border-radius: 50px;
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__socials-item:focus-within, .footer__socials-item:hover {
  background-color: #2196F3;
}
.footer__socials-item:not(:last-child) {
  margin-right: 10px;
}

.footer-socials-link {
  display: block;
  height: inherit;
  width: inherit;
}

.bottom-form {
  margin-top: 60px;
  width: 100%;
}
@media screen and (min-width: 769px) {
  .bottom-form {
    width: auto;
    flex-direction: row;
    align-items: flex-start;
    margin: 12px 0 0 93px;
  }
}
.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
@media screen and (min-width: 769px) {
  .subscribe-form {
    flex-direction: row;
    align-items: flex-start;
  }
}

.subscribe-form__input {
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3), 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0);
  border: solid 0px;
  color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  height: 50px;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 481px) {
  .subscribe-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 769px) {
  .subscribe-form__input {
    max-width: 358px;
  }
}

.subscribe-form__button {
  display: flex;
  align-items: center;
  font-weight: 700;
  color: #fff;
  background-color: var(--hover-blue-color);
  padding: 0px 29px;
  height: 50px;
  border-radius: 4px;
  border: solid 0px;
}
@media screen and (max-width: 769px) {
  .subscribe-form__button {
    margin-top: 20px;
  }
}
@media screen and (min-width: 769px) {
  .subscribe-form__button {
    margin-left: 12px;
  }
}
.subscribe-form__icon {
  margin-left: 10px;
  height: 24px;
  width: 24px;
}

.modal {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__inner {
  position: relative;
  background-color: #fff;
  /* width: 528px; */
  padding: 40px;
  margin: auto 15px;
  /* padding-bottom: 40px; */
  /* height: 581px; */
}
@media screen and (min-width: 481px) {
  .modal__inner {
    max-width: 450px;
  }
}
@media screen and (min-width: 769px) {
  .modal__inner {
    max-width: none;
  }
}

.modal__close-button {
  position: absolute;
  top: 8px;
  left: calc(100% - 8px);
  transform: translatex(-100%);
  border: 0px;
  background-color: rgb(255, 255, 255);
  width: 1.875rem;
  height: 1.875rem;
  background-image: url(../images/svg/close.svg);
  background-size: contain;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-button:hover {
  background-image: url(../images/svg/formhw/closeblue.svg);
  cursor: pointer;
}

/* Форма модального окна */
.lead-form {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.lead-form__group {
  position: relative;
}

.lead-form__title {
  font-size: 20px;
  text-align: center;
}

.lead-form__label {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  color: #757575;
}

.lead-form__input {
  width: 100%;
  padding: 0 42px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.lead-form__input:focus {
  border: 1px solid var(--hover-blue-color);
}
.lead-form__input:focus + .lead-form__icon {
  fill: var(--hover-blue-color);
}
.lead-form__input--comment {
  margin-top: 4px;
  height: 120px;
  padding: 12px 16px;
  resize: none;
}
.lead-form__input--comment:focus {
  border: 1px solid var(--hover-blue-color);
}
.lead-form__input--comment::placeholder {
  font-size: 14px;
  color: rgba(75, 75, 75, 0.5);
}

.lead-form__icon {
  position: absolute;
  fill: rgb(21, 21, 21);
  left: 12px;
  top: 39px;
  height: 18px;
  width: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.lead-form__label-policy {
  /* margin-top: 20px; */
  margin-left: 0px;
  padding-left: 23px;
  display: block;
  position: relative;
  font-size: 12px;
  color: #757575;
  cursor: pointer;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 481px) {
  .lead-form__label-policy {
    letter-spacing: normal;
    margin-left: 10px;
  }
}
@media screen and (min-width: 769px) {
  .lead-form__label-policy {
    font-size: 14px;
    margin-left: 15px;
  }
}
.lead-form__label-policy::before {
  position: absolute;
  display: block;
  content: "";
  left: 0px;
  top: -1px;
  height: 1rem;
  width: 1rem;
  border-radius: 2px;
  background-color: #c6d2db;
}
.lead-form__label-policy::after {
  background-image: url(../images/svg/formhw/icon-check.svg);
  position: absolute;
  display: none;
  content: "";
  left: 0px;
  top: -1px;
  height: 1rem;
  width: 1rem;
  border-radius: 2px;
  transition: display 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* background-color: #2196f3; */
}

.lead-form__link-policy {
  color: #2196F3;
  text-decoration: underline;
}

.lead-form__group-policy {
  /* display: flex; */
  /* justify-content: center; */
  margin: 20px 0 0;
}

.lead-form__checkbox:checked + .lead-form__label-policy::after {
  display: block;
}

.lead-form__checkbox:checked + .lead-form__label-policy::before {
  display: none;
}

.lead-form__button {
  width: 200px;
  height: 50px;
  border: 0px solid;
  background: #188CE8;
  border-radius: 4px;
  font-weight: 700;
  color: white;
  margin: 30px auto 0;
  letter-spacing: 0.06rem;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.lead-form__button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.padding-container--portfolio {
  padding: 0 12px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .padding-container--portfolio {
    padding: 0 0;
  }
}

.portfolio-menu {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
@media screen and (min-width: 481px) {
  .portfolio-menu {
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .portfolio-menu {
    margin-top: 61px;
  }
}

.portfolio-menu-inner {
  /* margin-top: 94px; */
}

.portfolio-menu__item:not(:last-child) {
  padding-right: 8px;
}

.portfolio-menu__button {
  margin-top: 15px;
}

.portfolio-section {
  padding: 45px 0 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio-section {
    padding: 94px 0 64px;
  }
}
.portfolio-menu__button {
  padding: 6px 22px;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: 0px solid #000;
  color: var(--link-color);
  cursor: pointer;
  font-family: "Roboto", normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.625;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-menu__button:hover, .portfolio-menu__button:focus {
  background-color: var(--hover-blue-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}
@media screen and (min-width: 1200px) {
  .portfolio-list {
    margin-top: 50px;
  }
}

.portfolio-list__item {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: #eee solid 1px;
}
@media screen and (min-width: 480px) {
  .portfolio-list__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-list__item {
    width: 354px;
    margin: 0 15px 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-list__item {
    width: 370px;
  }
  .portfolio-list__item:not(:nth-child(3n+3)) {
    margin-right: 30px;
  }
}
.portfolio-list__item:hover, .portfolio-list__item:focus-within {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list__text {
  padding: 20px 24px;
}

.portfolio-list__link {
  display: inline-block;
}

.portfolio-list__name {
  /* padding: 20px 24px 0; */
  display: inline-block;
  color: #000;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06000024em;
}

.portfolio-list__type {
  padding-top: 4px;
  color: var(--gray-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.0303030303em;
}

.portfolio-list__item-card {
  border: 1px solid #eeeeee;
  margin-bottom: 30px;
}

.portfolio-list__card {
  position: relative;
  overflow: hidden;
}

.portfolio-list__img {
  width: 700px;
  height: 294px;
  object-fit: cover;
}
.portfolio-list__info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 18px;
  line-height: 28px;
  color: #eee;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  /* bottom: 100%; */
  height: 100%;
  width: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms;
}

.portfolio-list__item:hover .portfolio-list__info {
  visibility: visible;
  transform: translateY(0%);
}/*# sourceMappingURL=main.css.map */