.padding-container--portfolio {
    padding: 0 12px;

}

.portfolio-type {
    display: flex;
    justify-content: center;
}

.portfolio-type-inner {
    /* margin-top: 94px; */
}

.portfolio-type__item:not(:last-child) {
    padding-right: 8px;
}

.portfolio-section {
    padding: 94px 0 64px;
}

.portfolio-section button {
    padding: 6px 22px;
    background-color: #f5f4fa;
    border-radius: 4px;
    border: 0px solid #000;
    color: var(--link-color);
    cursor: pointer;
    font-family: "Roboto", normal;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.625;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* box-shadow: 0px 3px 1px rgba(#000, #000, #000, 0.1),
    0px 1px 2px rgba(#000, #000, #000, 0.08),
    0px 2px 2px rgba(#000, #000, #000, 0.12); */
}

.portfolio-section button:hover {
    background-color: var(--hover-blue-color);
    color: var(--white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-section button:focus {
    background-color: var(--hover-blue-color);
    color: var(--white-color);
}

.portfolio-list__text {
    padding: 20px 24px;
}

.portfolio-list__link {
    display: inline-block;
    height: inherit;
    width: inherit;
}

.portfolio-list__name {
    /* padding: 20px 24px 0; */
    display: inline-block;
    color: #000;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: calc(1em / 16.6666);
}

.portfolio-list__type {
    padding-top: 4px;
    color: var(--gray-color);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: calc(1em / 33);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
 .portfolio-list__item-card {
    border: 1px solid #eeeeee;
    margin-bottom: 30px;
} 
.portfolio-list__item {
    position: relative;
    margin-bottom: 30px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: #eee solid 1px;
}

.portfolio-list__item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list__item:focus-within {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list__item:not(:nth-child(3n+3)) {
    margin-right: 30px;
}

.portfolio-list__card {
    position: relative;
    overflow: hidden;
}

.portfolio-list__info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 18px;
    line-height: 28px;
    color: #eee;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    /* bottom: 100%; */
    height: 100%;
    width: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms;
}

.portfolio-list__item:hover .portfolio-list__info {
    visibility: visible;
    transform: translateY(0%);
}