.header-section {
    z-index: 20;
    min-height: 60px;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #fff;
    
    @media screen and (max-width: 480px) {
        position: fixed;
    }
}

.header-section__menu-burger {
    margin-left: auto;
    background-color:inherit;
    border: 0px;
    padding: 0;
    
    @media screen and (min-width: 769px) {
        display: none;        
    }

    &--icon {
        height: 40px;
        width: 40px;
    }

    &:hover,
    &:focus {
        fill: #2196f3;
    }
}


.header-section--line {
    border-bottom: 1px solid #ececec;
}

.header-section__inner {
    display: flex;
    align-items: center;
    min-height: 60px;

    @media screen and (min-width: 768px) {
        justify-content: space-between;
    }
}

.navigation {
    display: none;
    color: var(--black-color);
    font-size: 14px;
    font-weight: 500;

    @media screen and (min-width: 769px) {
        display: block;
    }
    
    // @media screen and (min-width: 481px) and (max-width: 1199px) {
    //     display: block;
    // }
    
}

.menu {
    display: flex;

    @media screen and (min-width: 769px) {
        // margin-left: 93px;
    }
    
    @media screen and (min-width: 1200px) {
        margin-left: 93px;
    }
}
.menu__link {
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--link-color);
    letter-spacing: calc(1em / 50);
    display: inline-block;
    padding: 32px 25px;

    &--selected {
            color: var(--hover-blue-color);
    }

    &:hover,
    &:focus {
        color: var(--hover-blue-color);
    }
    
    
    &::after {
        border-radius: 2px;
        content: '';
        width: 0;
        height: 4px;
        right: 25px;
        position: absolute;
        bottom: 0;
        background: var(--hover-blue-color);
        transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1), height 850ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    &:hover::after {
        width: calc(100% - 50px);
        left: 25px;
    }
    
    &:focus::after {
        width: calc(100% - 50px);
        left: 25px;
    }

    &--selected::after {
            border-radius: 2px;
            content: '';
            width: calc(100% - 50px);
            height: 4px;
            left: 25px;
            right: 25px;
            position: absolute;
            bottom: 0;
            background: var(--hover-blue-color);
    }
}

.contact-container {
    display: none;

    @media screen and (min-width: 769px) {
            display: flex;
            flex-direction: column;
            // margin-left: auto;
        }

    @media screen and (min-width: 1200px) {
            margin-left: auto;
            display: flex;
            flex-direction: row;
        }
}

.contact {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color: var(--gray-color);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: calc(1em / 50);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &--mail-top {
        margin-left: auto;
        align-items: center;
        display: flex;

        @media screen and (min-width: 481px) {
            
        }

        @media screen and (min-width: 1200px) {
            margin-right: 15px;
        }
    }

    &--phone-top {
        display: flex;
        white-space: nowrap;

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-top: 10px;
        }
        
        @media screen and (min-width: 1200px) {
            margin-left: 15px;
        }
    }

    &:hover {
        color: var(--hover-blue-color);
        /* color: #ff00d4; */
    }

    &:focus {
        color: var(--hover-blue-color);
    }
}

.contact__icon {
    width: 1rem;
    height: 1rem;
    margin-right: 10px;
    fill: currentColor;
    margin-right: 10px;
}
