.mobile-menu {
    z-index: 30;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    padding: 48px 40px;
    background-color: rgba(255, 255, 255, 1);
    height: 100%;
    font-weight: 500;
    width: 100%;

    @media screen and (min-width: 769px) {
        display: none;
    }
}

.mobile-menu__close-button {
    position: absolute;
    border: 0px ;
    background-color: inherit;
    width: 40px;
    height: 40px;
    right: 15px;
    top: 10px;
    padding: 0;

    &--img {
        height: 40px;
        width: 40px;
    }

    &:hover,
    &:focus {
        fill: #2196F3;
    }
}

.mobile-menu__list {
    margin-bottom: auto;
    text-decoration: none;
}

.mobile-menu__item {
    margin-bottom: 32px;
}

.mobile-menu__link {
    color: #212121;
    font-size: 40px;

    &--selected {
        color: #2196F3;
    }
}

.mobile-menu__contacts {
    display: flex;
    flex-direction: column;
}

.mobile-menu__phone {
    font-size: 34px;
    margin-bottom: 32px;
    color: #2196F3;
}

.mobile-menu__mail {
    font-size: 24px;
    color: #757575;
    margin-bottom: 64px;
}

.mobile-menu__socials {
    display: flex;
    font-size: 18px;
    flex-wrap: wrap;
}

.mobile-menu__social-link {
    color: #2196F3;

    &:not(:last-child) {
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        padding-right: 10px;
    }

    &:not(:first-child) {
        padding-left: 10px;
    }
}