.benefits-section {
    padding-top: 94px;
    color: var(--gray-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: calc(1em / 33);
}

.benefits-list__background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
}

.benefits-list__description {
    padding-top: 10px;
}

/* .benefits-section__inner {
  padding-top: 94px;
} */
.benefits-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 100%;
}

.benefits-list__item {
    max-width: 270px;
}

.benefits-list__title {
    margin-top: 30px;
    color: var(--link-color);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: calc(1em / 33);
}