.hero-section {
    background-image: url('/images/cover.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section__cover {
    background-color: rgba(47, 48, 58, 0.4);
}

.hero-section__inner {
    padding: 200px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.hero-section__title {
    text-align: center;
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: calc(1em / 16.6666);
    max-width: 696px;

}

.hero-section__button {
    margin-top: 30px;
    padding: 10px 32px;
    border-width: 0px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
    color: var(--white-color);
    background-color: var(--hover-blue-color);
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    cursor: pointer;
    letter-spacing: calc(1em / 16.6666);
}