:root {
    --hover-blue-color: #2196f3;
    --gray-color: #757575;
    --white-color: #ffffff;
    --hero-section-background: #2f303a;
    --black-color: #000;
    --link-color: #212121;
    --footer__contact-color: rgba(255, 255, 255, 0.6);
}